/* tag */
.be-tag {
  display: inline-block;
  width: 6rem;
  background: #ccf2e4;
  color: var(--light-grey);
  font-size: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 0 rgb(0 0 0 / 15%);
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-radius: 15px;
}

.md-tag {
  display: inline-block;
  width: 6rem;
  background: #fcf1ce;
  color: var(--light-grey);
  font-size: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 0 rgb(0 0 0 / 15%);
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
}

.ad-tag {
  display: inline-block;
  width: 6rem;
  background: #facfcf;
  color: var(--light-grey);
  font-size: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 0 rgb(0 0 0 / 15%);
  text-align: center;
  padding: 0.5rem 0.75rem;
  border-radius: 15px;
}

/* banner */

.banner p,
span {
  line-height: 1.5;
  color: var(--light-grey);
}
.banner .txt,
.banner .pic {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.banner .feature .pic {
  box-shadow: 0.2rem 0.2rem 0 0 rgb(0 0 0 / 15%);
}
.btn {
  display: block;
  width: 10rem;
  background: var(--main-color);
  color: #fff;
  font-size: 1rem;
  box-shadow: 0.1rem 0.15rem 0 0 rgb(0 0 0 / 15%);
  text-align: center;
  letter-spacing: 2px;
  padding: 0.75rem 1.75rem;
  margin: 1rem 0;
  border: none;
}
.banner .feature .pic img {
  border-radius: 10px;
}

/* latest */

.latest .card {
  margin-top: 1rem;
}

.latest .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0.2rem 0.2rem 0 0 rgb(0 0 0 / 5%);
}

.latest .box:hover {
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0 0 rgb(0 0 0 / 25%);
}

.latest .box h3 {
  flex-grow: 1;
  font-size: 2rem;
}
.latest .box .box-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.latest .box img {
  border-radius: 15px;
}

/* ************ category ************** */
.category {
  background: var(--dark-blue);
}

.category .container {
  padding: 1rem 0;
}

.category .topic {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
}

.category .theme {
  padding: 1rem;
}

.category .theme .hashtag {
  font-size: 0.25rem;
  width: 7rem;
  background: var(--light-blue);
  border-radius: 20px;
  padding: 0.1rem 0.5rem;
  margin: 0;
  cursor: pointer;
}
.category .theme > .row {
  gap: 0.5rem;
  justify-content: center;
}

.category .post {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  line-height: 1.5;
}

.category .writing .box {
  background: #0061b1;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.category .writing img {
  border-radius: 15px;
}

.category .writing .txt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.category .writing h3 {
  color: #fff;
  text-align: center;
}

.category .writing .box-bottom {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.category .more {
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  padding-top: 2.5rem;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .category .topic {
    text-align: left;
    padding: 1.5rem 0;
  }

  .category .theme > .row {
    margin: 0;
  }

  .category .theme .hashtag {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .category .writing {
    padding: 1rem;
  }
  .category .theme .hashtag {
    font-size: 1rem;
  }
  .category .theme > .row {
    gap: 0.5rem;
    justify-content: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .category .writing h3 {
    font-size: 1.5rem;
  }

  .category .writing .txt {
    justify-content: center;
  }
  .category .writing .row_box {
    flex-direction: row;
  }

  .category .writing .row_box .pic {
    width: 65%;
  }

  .category .writing .row_box .pic img {
    height: 100%;
  }
}
/* slang */

.slang .rectangle {
  display: flex;
  padding: 0.25rem;
  margin: 1rem;
}
.slang .rectangle .item {
  display: flex;
  border-radius: 15px;
  padding: 1rem;
}

.slang .rectangle .green {
  background: #ccf2e4;
}
.slang .rectangle .pink {
  background: #facfcf;
}

.slang .rectangle .item .pic {
  width: 50%;
  margin: auto 0;
}

.slang .rectangle .item .txt {
  width: 50%;
  margin: auto 0;
  line-height: 1.5;
}

.slang .rectangle .item .txt a {
  margin: auto;
  margin-top: 1rem;
}

.slang h3 {
  font-weight: bold;
  color: #000;
}

.slang .btn {
  display: block;
  width: 10rem;
  background: var(--main-color);
  color: #fff;
  font-size: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 0 rgb(0 0 0 / 15%);
  text-align: center;
  padding: 0.5rem;
}

@media screen and (min-width: 992px) {
  .slang .rectangle {
    margin: 0;
  }
}
/* subscribe */

.subscribe {
  background: var(--border-color);
  line-height: 1.5;
}
.subscribe .row {
  padding: 2rem;
  gap: 2rem;
}

.subscribe h2 {
  font-weight: bold;
}

.subscribe .email {
  width: 100%;
}
.subscribe .email form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.subscribe .email form .mailput {
  width: 75%;
}

.subscribe .email .submit {
  display: block;
  background: var(--main-color);
  color: #fff;
  font-size: 0.5rem;
  box-shadow: 0.1rem 0.15rem 0 0 rgb(0 0 0 / 15%);
  text-align: center;
  padding: 0.5rem;
  border: none;
}
@media screen and (min-width: 768px) {
  .subscribe .container .row {
    gap: 0;
  }

  .subscribe .txt {
    padding: 1.5rem;
  }
}
