header {
	border-bottom: 1px solid var(--border-color);
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 5;
}

nav {
	padding: 0.75rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .logo a {
	display: flex;
	align-items: center;
	gap: 1rem;
}
nav .logo a p {
	font-size: 2rem;
	font-weight: bold;
	color: var(--main-color);
}

nav .logo img {
	vertical-align: top;
	width: 60px;
	height: 60px;
}

nav .menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .menu ul li {
	padding: 0 12px;
	text-align: center;
	display: block;
}

nav .menu ul li a {
	font-size: 1.2rem;
	color: gray;
}

nav .menu ul li a:hover {
	border-bottom: 3px solid var(--main-color);
}

nav .btn_group {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
nav .btn_group .login {
	font-size: 1.2rem;
	color: gray;
}
nav .btn_group .login:hover {
	border-bottom: 3px solid var(--main-color);
}
nav .started a {
	display: block;
	border: none;
	background-color: var(--main-color);
	color: #fff;
	padding: 0.75rem;
}
.hamBar {
	display: none;
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	align-items: center;
	justify-content: center;
	color: var(--main-color);
	cursor: pointer;
}
@media screen and (max-width: 1200px) {
	nav .logo a {
		gap: 0.5rem;
	}
	nav .logo a p {
		font-size: 1.25rem;
	}

	nav .logo img {
		width: 35px;
		height: 35px;
	}

	nav .btn_group {
		gap: 0.2rem;
	}
	nav .btn_group .login {
		font-size: 1rem;
	}
	nav .started a {
		padding: 0.5rem;
	}
	nav .menu ul li {
		padding: 0 8px;
	}
}

@media screen and (max-width: 992px) {
	nav .logo img {
		width: 40px;
		height: 40px;
	}
	nav .logo a p {
		font-size: 1.5rem;
	}
	.hamBar {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 59px;
		left: 0;
		right: 0;
	}

	nav .menu ul {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: start;
		transform: translateY(100%);
		transition: all 0.5s;
		height: 0;
		overflow: hidden;
		background-color: #fff;
	}

	nav .menu ul.show {
		height: 100vh;
		transition: all 0.5s;
	}
	nav .menu ul li {
		padding: 1.25rem;
		text-align: center;
		width: 100%;
		border-bottom: 1px solid var(--border-color);
		background-color: #fff;
	}

	nav .menu ul li a {
		font-size: 1.25rem;
		color: gray;
	}

	nav .btn_group {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 59px;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		transition: all 0.4s;
		height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
		background-color: #fff;
	}

	nav .btn_group.show {
		height: 400px;
		transition: all 0.4s;
	}

	nav .btn_group .login {
		font-size: 1.2rem;
		color: gray;
		display: block;
		padding: 1rem;
		width: 90%;
		text-align: center;
		border: 1px solid var(--main-color);
	}

	nav .btn_group .started {
		width: 90%;
		text-align: center;
	}

	nav .btn_group .started a {
		padding: 1rem;
	}
}
