/* banner */

.banner .pic {
  display: none;
}

.slogan h1 {
  padding-bottom: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

.banner .slogan p {
  line-height: 1.5;
  padding-bottom: 1.5rem;
  color: var(--light-grey);
  text-align: center;
}

.banner .slogan .address {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.banner .slogan .sub {
  width: 100%;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 0.75rem;
}

@media screen and (min-width: 576px) {
  .banner form {
    margin: 0 auto;
    width: 80%;
    display: flex;
  }
  .banner .slogan .sub {
    width: 50%;
  }
  .banner .slogan .address {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .banner .pic {
    display: inherit;
  }

  .banner .slogan h1 {
    text-align: left;
  }

  .banner .slogan p {
    font: size 1.2rem;
    text-align: left;
  }

  .banner form {
    width: 90%;
    display: flex;
    margin: 0;
  }
}

/* crypto_table */

.crypto_table table {
  width: 100%;
  margin: 0 auto;
}

.crypto_table table tr th,
td {
  text-align: left;
  color: var(--light-grey);
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
}
.crypto_table table tr td {
  color: black;
}

.crypto_table table tr button {
  border: none;
  padding: 0.5rem;
  color: white;
  background-color: #098551;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .crypto_table table tr th,
  td {
    text-align: center;
  }
  .crypto_table table tr button {
    padding: 0.75rem;
    font-size: 1rem;
  }
}

/* feature */

.slogan h2 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

section p {
  padding-bottom: 1rem;
  color: var(--light-grey);
  line-height: 1.5;
  text-align: center;
}

.feature .content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature .content h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.feature .content img {
  width: 50%;
  padding-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  .slogan h2 {
    font-size: 2.75rem;
  }
  section p {
    padding-bottom: 1.5rem;
    color: var(--light-grey);
    line-height: 1.5;
    text-align: center;
  }

  .feature .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .feature .content h3 {
    text-align: center;
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

/* txt_info */

.txt_info {
  background-color: var(--main-color);
}

.txt_info span {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-bottom: 1rem;
}

.txt_info p {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--light-grey);
}

/* register_flow */
.register_flow p {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--light-grey);
}
.register_flow .slogan {
  padding-bottom: 2.5rem;
}
.register_flow .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register_flow .box .pic {
  width: 50%;
  padding-bottom: 1rem;
}

.register_flow h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

/* mobile */

.mobile .qrcode img {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.mobile .qrcode .txt {
  text-align: center;
  padding-bottom: 1rem;
}

.mobile .system div + div + div {
  display: none;
}

.mobile .system img {
  width: 30%;
  display: block;
  margin: 0 auto;
}
.mobile .system p {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .mobile .qrcode img {
    width: 30%;
  }
  .mobile .system {
    display: flex;
  }

  .mobile .system img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .mobile .system div + div + div {
    display: block;
  }

  .mobile .system {
    flex-wrap: wrap;
    align-items: center;
  }
}
