h2 {
  color: var(--main-color);
  padding: 1.5rem 0;
}

.aln-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.banner {
  color: #fff;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1632314813226-fc0ac70d8569?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2076&q=80");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.banner p {
  font-size: 2rem;
  line-height: 1.5;
}
.banner .service {
  font-size: 3.5rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}
.banner .service span {
  font-size: 1.5rem;
}

/* value */
.value {
  padding: 2rem 0;
  line-height: 1.5;
}

.value h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
}

.value p {
  padding: 0 1rem;
}

.value .box {
  margin: 1rem;
  background-color: #eee;
  border-radius: 30px;
}

.value img {
  border-radius: 30px;
}
/* transform */

.transform {
  padding: 3rem 0;
  background-color: rgb(3, 5, 75);
}
.transform h2 {
  color: #fff;
  margin: 2rem;
  font-size: 3rem;
}
.card {
  display: flex;
  height: 350px;
  width: 280px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0rem 0 1rem rgb(0, 0, 0);
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 50px;
  top: 40px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 50px;
  height: 5px;
  width: 200px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(30% - 60px);
  color: #eee;
  display: none;
  line-height: 1.25;
  font-size: 1.25rem;
}

.card:hover .circle {
  display: inherit;
  animation-name: play;
  animation-duration: 1.8s;
}

@keyframes play {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* leader */
.leader .team {
  font-size: 2.5rem;
}
.leader .container {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}

.leader .intro img {
  border-radius: 50%;
}

.leader .intro .box {
  padding: 0.5rem;
  text-align: center;
  line-height: 1.5;
}
/* partner */
:root {
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);

  color: #111;
  overflow: hidden;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
}
.marquee:after {
  right: 0;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
